body {
    background: #B5C0C0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 18pt;
    color: #531253;
    line-height: 1.5em;
    max-width: 1200px;
    margin: auto;
    padding: 1.5em;
}

img {
    float: left;
    margin: 0 1em 1em 0;
}

h1 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 1px;
    margin: 1px;
}

#title {
    text-align: center;
    font-size: 1.8em;
    padding: 1px;
    margin: 1px;
}

h2,
h3 {
    margin-top: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1px;
}

fieldset {
    font-size: 1em;
    padding: 1px;
    margin: 1px;
}

picture {
    display: block;
    overflow: hidden;
}

img.max-20 {
    max-width: 100%;
    width: auto;
    max-height: 20vh;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 1px;
}

p {
    text-indent: 1cm;
    padding: .5%;
    margin: .5%;
}

p cite {
    text-align: right;
}

a:visited {
    color: #240124a8;
}

a {
    color: #33032F
}

table,
th,
td {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #170312;
    padding: 5px;
    margin: 5px;
}

th {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

footer {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

legend {
    font: small-caps;
}

iframe {
    width: "300";
    height: "169";
}

input {
    background: #531253;
    color: #A0ACAD;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 1.2em;
}

fieldset ul {
    text-align: left;
    padding: 14px 16px;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    margin: .5px;
    padding: .5px;
}

ol {
    text-align: left;
    margin: 5px;
    padding: 5px;
}

#navbar {
    text-align: center;
    list-style-type: none;
    margin-top: 1em;
    margin-top: 1em;
    padding: .2em;
    overflow: hidden;
    background-color: #531253;
    color: #B5C0C0;
}

#navbar li {
    display: inline-block;
    margin: .2em;
    padding: .2em;
}

#navbar li a:hover {
    background-color: #bb37bb48;
}

#navbar li a:visited {
    color: #B5C0C0;
}

#equality-img {
    max-width: 400px;
    margin: auto;
}

#equality-img img {
    width: 100%;
    height: auto;
}